<h2>筛选</h2>
<div>
  <!-- 筛选选项 -->
  <label for="axuankeyaoqiu">选课要求:</label>
  <div class="horizontal-options">
    <div *ngFor="let option of AxuankeyaoqiuOptions">
      <input type="checkbox" id="{{ option }}" [(ngModel)]="selectedAxuankeyaoqiuOptions[option]" (change)="applyFilter()">
      <label for="{{ option }}">{{ option }}</label>
    </div>
  </div>


  <label for="acengci">层次:</label>
  <div class="horizontal-options">
    <div *ngFor="let option of AcengciOptions">
      <input type="checkbox" id="{{ option }}" [(ngModel)]="selectedAcengciOptions[option]" (change)="applyFilter()">
      <label for="{{ option }}">{{ option }}</label>
    </div>
  </div>


  <label for="ashengfen">省份:</label>
  <div class="horizontal-options">
    <div *ngFor="let option of AshengfenOptions">
      <input type="checkbox" id="{{ option }}" [(ngModel)]="selectedAshengfenOptions[option]" (change)="applyFilter()">
      <label for="{{ option }}">{{ option }}</label>
    </div>
  </div>

  <label for="acitypaihang">城市排行:</label>
  <div class="horizontal-options">
    <div *ngFor="let option of AcitypaihangOptions">
      <input type="checkbox" id="{{ option }}" [(ngModel)]="selectedAcitypaihangOptions[option]" (change)="applyFilter()">
      <label for="{{ option }}">{{ option }}</label>
    </div>
  </div>

<table>
  <tr>
    <table>
      <tr>
        <th>专业代码</th>
        <th>专业类别</th>
        <th>专业代码</th>
        <th>专业名称与要求</th>
        <th>选课要求</th>
        <th>院校代码</th>
        <th>学校名称</th>
        <th>层次</th>
        <th>省份</th>
        <th>城市</th>
        <th>22投档分</th>
        <th>22投档最低位次</th>
        <th>学费</th>
        <th>招生类型</th>
        <th>城市排行</th>
        <th>22投档计划数</th>
        <th>专业特色</th>
        <th>21最低分</th>
        <th>21最低位次</th>
        <th>22招生计划</th>
        <th>21计划</th>
        <th>推免与招研</th>
        <th>备注</th>
        <th>学制</th>
        <th>层次与特点</th>
        <th>院校计划数</th>
        <th>专业名称</th>
      </tr>
  <tr *ngFor="let item of displayedColumns">
    <td>{{ item.Amenlei }}</td>
    <td>{{ item.Azhuanyeleibie }}</td>
    <td>{{ item.Azhuanyedaima }}</td>
    <td style="text-align: left; word-break: break-all; overflow-wrap: break-word; max-width: 10em;">{{ item.Azhuanyemingchengyaoqiu }}</td>
    <td>{{ item.Axuankeyaoqiu }}</td>
    <td>{{ item.Ayuanxiaodaima }}</td>
    <td>{{ item.Axuexiaomingc }}</td>
    <td>{{ item.Acengci }}</td>
    <td>{{ item.Ashengfen }}</td>
    <td>{{ item.Acity }}</td>
    <td>{{ item.A22toudangfen }}</td>
    <td>{{ item.A22toudangweici }}</td>
    <td>{{ item.Axuefei }}</td>
    <td>{{ item.Azhaoshengleix }}</td>
    <td>{{ item.Acitypaihang }}</td>
    <td>{{ item.A22jihuashu }}</td>
    <td>{{ item.zhuanyetese }}</td>
    <td>{{ item.A21zuidifen }}</td>
    <td>{{ item.A21zuidiweici }}</td>
    <td>{{ item.A22jihua }}</td>
    <td>{{ item.A21jihua }}</td>
    <td>{{ item.Atuimianyanzhao }}</td>
    <td>{{ item.Abeizhu }}</td>
    <td>{{ item.Axuezhi }}</td>
    <td>{{ item.Acengcitedian }}</td>
    <td>{{ item.Ajihuashu }}</td>
    <td>{{ item.Azhuanyemingcheng }}</td>
  </tr>
</table>

<div class="pagination">
  <button *ngFor="let page of pages" (click)="goToPage(page)">{{ page }}</button>
</div>
