.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  flex-grow: 1;
  word-wrap: break-word;
  max-width: 200px; /* 根据需要设置每个逗号之间的最大宽度 */
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
}
li {
  font-size: smaller;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}
