.outer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.menu-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #333;
  color: #fff;
}

.content-container {
  border: 1px solid #333;
  padding: 20px;
  flex: 1;
  border-radius: 3px;
}
